.text
	margin-top  $LHC
	font-size   $FZ_Text
	transition  color $TimeTrans
	font-weight $FW_Light

	&.heading
		margin-top (2*$LHC)
		font-size  $FZ_Heading

	&.headline
		font-size $FZ_Headline

	&.display
		font-size $FZ_Display

	&.caption
		font-size $FZ_Caption
		color     $ColorBlackTextSec

	&.bold
		font-weight $FW_Bold

	&.secondary
		color $ColorBlackTextSec

	&.ta-right
		text-align right

	&.ta-center
		text-align center
